<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-left">
    		&copy; <%= '2016-2017' %> <%= config.author || config.title %>
    	</div>
    </div>
  </div>
</footer>